body{
    background-color: black;
}

ul{
    list-style: none;
    padding-left: 0px;
}


#city-form{
    padding: 10px 0 10px;
}

input{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border-color: #C82333;
}

p, ul, .weather-container{
 color:#C82333;
 font-weight: 500;
}

.city-name{
    color:#C82333;
    font-weight: 700;
    font-size: 38px;
}

.weather-temperature strong{
   font-weight: 500;
   font-size: 54px;
   line-height: 1.8;
   color: #C82333;
}

.weather-temperature .units{
    position: relative;
    font-size: 15px;
    top: -26px;
    color: #C82333;
 }


.signature{
    color: beige;
    text-align: center;
}

.app-name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-align: center;
}

.container{
    margin: 100px auto 10px;
    max-width: 600px;
    border: 30px solid pink;
    border-radius: 10px; 
    background-color: pink;
}

.weather-temperature .active{
    color: #C82333;
    cursor: default;
}

.weather-temperature .active:hover{
 text-decoration: none;
}


.eugene-face{
    display: inline;
}


